<header id="site-header">
    <div id="nav-bar" [ngClass]="{'is-user': user, 'is-anon': anon}">
        <div *ngIf="loading">
          <span class="username text">loading...</span>
        </div>
        <div class="items" *ngIf="!loading && !!user">
          <a [routerLink]="['/welcome']"><img src="../assets/images/home.png" alt="Home"></a>
          <a [routerLink]="['/user']"><img src="../assets/images/friends.png" alt="All users"></a>
          <a [routerLink]="['/user', user._id]"><img src="../assets/images/astronote-face-good.png" alt="user"></a>
          <a (click)="logout()"><img src="../assets/images/logout.png" alt="logout"></a>
        </div>
        <div class="items" *ngIf="!loading && anon">
          <a [routerLink]="['/welcome']"><img src="../assets/images/home.png" alt="Home"></a>
          <a [routerLink]="['/login']">login</a>
          <a [routerLink]="['/signup']">signup</a>
        </div>
      </div>  
</header>

<div id="site-main">
  <router-outlet></router-outlet>
</div>

<footer id="site-footer">
  <a *ngIf= "!loading && user" id="add-note" [routerLink]="['/create']"> + </a>
  <div class="container">
    <div class="copyright">
      &copy; Andrea Moya  IRONHACK BCN 2018
    </div>
  </div>
</footer>