.container2 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10%;
}
.not-found {
  height: 365px;
  width:400px;
  background-size: cover;
  background-image: url("../../../assets/images/Portal-Gun.png");
}