/* You can add global styles to this file, and also import other style files */
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  line-height: 147%;
}

h1 {
  margin-top: 0;
}

h2 {}

h3 {}

p {
  margin: 0;
}

ul {
  list-style: none;
}




/* ---- layout ---- */

html, body {
  height: 100%;
}

#site-header {
  height: 60px;
  padding: 15px 0;
  color: white;
  background: #111;
}

#site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 18px 0;
  color: white;
  background: #111;
  font-size: smaller;
}

#site-main {
  overflow: auto ;
  height: calc(100vh - 120px);
  margin-bottom: 60px;
  padding-top: 20px;
  background-image: url("../../../final-project/client/src/assets/images/atmosphere.jpeg")
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}


/* -- forms -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  font-family: 'Ubuntu', sans-serif;
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(251, 255, 0);
  cursor: pointer;
}

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}


/* -- nav-bar -- */

#nav-bar {
  display: flex;
  justify-content: flex-start;
  /* background-color:#F0F0F0 */
 }
 
 #nav-bar a {
   margin-left: 20px;
   text-decoration: none;
   color: white;
 }
 

/* -- footer -- */

#site-footer .copyright {
  font-size: 14px;
}

#add-note {
  position: absolute;
  bottom: 30px;
  right: 10px;
  width: 60px;
  height: 60px;
  line-height: 52px;
  text-align: center;
  font-size: 60px;
  color: white;
  background-color: #66cc00;
  border-radius: 50%;
}


/* ---- components ---- */




/* ---- RESPONSIVE ---- */


/* - iPad - */
@media (min-width: 768px) {
  #site-header {
    height: 80px;
  }

  #site-footer {
    height: 80px;
  }

  #site-main {
    height: calc(100vh - 160px);
  }

  #add-note {
    bottom: 50px;
    right: 20px;
  }
}

 